.login-form {
		width: 340px;
    	margin: 50px auto;
	}
    .login-form form {
    	margin-bottom: 15px;
        background: #f7f7f7;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
    .login-form h2 {
        margin: 0 0 15px;
    }
    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }
    .btn {
        font-size: 15px;
        font-weight: bold;
    }

.buton{
float: right;
}

.card{
	border-radius: 0px;

}
body{
	background-image: url("background.jpg");
}
.card-title
{
	font-family: sans-serif;

}
.card.mb-4
{

}
.btn-primary
{
	background-color: rgb(0, 123, 255,0.5);
	border: none;
}


.col-md-4{
	padding-left: 5px;
	padding-right: 5px;
}
textarea
{
	height: 200px;
	    width: 100%;
	   -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
	    box-sizing: border-box;
}
.col{
	margin-left: 10px;
	margin-right:  10px;
}
.my-4
{
	color: white;
	text-align: center;
}


.py-5.bg-dark
{
	position: absolute;
	    left: 0;
	    height: 100px;
	    width: 100%;
}
.py-5.bg-dark.as
{
	position: absolute;
	    left: 0;
			bottom: 0;
	    height: 100px;
			width: 100%;
}
